<head>
    <title>MARVEL CHARACTERS</title>
    <link rel="stylesheet" href="/css/myreviews.css" type="text/css">
</head>

<body>


</div>
    <div class="container h-auto rounded">
        <div class="row text-center">
            <div class="col-lg-3">
                <button type='button' class='btn mx-1' id='backtoprofile'>Back to Profile</button>
            </div>
            <div class="col-lg-6"
                style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white; margin: 0px auto;">
                <h1 class="myreviews" style="line-height: 45px;text-align: center;">MARVEL CHARACTERS</h1>
            </div>
            <div class="col-lg-3">
                <button type='button' class='btn mx-1' id='Nextoprofile'>Next Search Character</button>
            </div>
        </div>   
       <!--first option  -->
    <div class="card text-center">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-1"  style="text-align: center;">
                <div  style="text-align: center;" class="row my-3" id="character-marvel-row" >
                  <p class="lead text-center" id="message"></p>
                </div>
            <div class="card-footer text-muted">
                2022 - @0mar2090
            </div>
        </div> 

        </div>
        
    </div>
        

    <!--second option-->

    {{!-- <div class="card text-center">
        <div class="card-header" style="font-family: 'Bangers', cursive;">
                MARVEL CHARACTERS 02
        </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-1"  style="text-align: center;">
                <div  style="text-align: center;" class="row my-3" id="appDiv">
                   <div class="item">
		              
		          </div>

                </div>

		      </div>
            <div class="card-footer text-muted">
                2022 - @0mar2090
            </div>
        </div> 

        </div>
   </div> --}}

</div>

  <script type="text/javascript" src="/js/viewcharacter.js"></script>
</body>