<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <div class="container w-auto h-auto rounded text-center">
        <div class="homedisplay">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-2">
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/search/character">
                                         <img src="../img/PMarvel.png"  class="character img-responsive my-2"
                                        style="height: 250px; max-width: 100%; margin: 0px auto;">
                                </a>
                                <div class="card-body">
                                    <h2 class="card-title">Search Character</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/search/comicbook">
                                    <img src="../img/PComics.jpg" 
                                        class="comicbook img-responsive my-2"
                                        style="height: 250px; max-width: 100%; border-style: solid; border-color: black; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">Search Comicbook</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/view/character">
                                    <img src="../img/deadpool.png" 
                                        class="writereview img-responsive my-2"
                                        style="height: 250px; max-width: 100%; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">Marvel Character View</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card"
                                style="border-style: inset; border-color: black; border-width: 5px; background-image: url(https://images.homedepot-static.com/productImages/2900a45f-cf53-4635-917b-17c4918daa21/svn/york-wallcoverings-wallpaper-dy0269-64_1000.jpg); background-size: 100% 100%;">
                                <a href="/view/comics">
                                    <img src="../img/comicslegacy.png" 
                                        class="comicbook img-responsive my-2"
                                        style="height: 245px; max-width: 100%; margin: 0px auto;">
                                </a>

                                <div class="card-body">
                                    <h2 class="card-title">Marvel Comics View</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>

</body>