body{
    background-image: url(../img/marvel_background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container{
    background: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-top: 25px;
    border-radius: 5px;
}



h1,p,#profilebtn,#searchbtn{
    font-size: 20px;
    font-family: 'Bangers', cursive;
}
#profilebtn{
    background-color: mediumblue;
    color: white;
}
#profilebtn:hover{
    background-color: dodgerblue;
    color: white;
}
#searchbtn{
    background-color: green;
    color: white;
}
#searchbtn:hover{
    background-color: limegreen;
    color: white;
}
.image{
    position: relative;
    height: 200px;
    width: 175px;
}

.nav{
    background-color: black;
}

.searchforanymarvelcharacter,.name{
    font-size: 30px;
}

