body{
   
    background-image: url(../img/marvel_background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
   
}
.container{
    margin: 0px auto;
    position: relative;
    margin-top: 60px;
}
 
h1{
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.searchcomic,.searchcharacter{
    color: red;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black;
}

.nav{
    background-color: black;
}
